# 忽略项目中所有目录的 .vscode 文件夹
**/.idea/
**/node_modules/
**/.vscode/
git_add_list.txt
**/out
**/target
Front_End/package.json
Front_End/package-lock.json
**/assets/sass/
**/assets/webfonts/
**/test/
**/.gitattributes
**/.gitignore